.carrito, .carritoVacio {
    min-height: 85vh;
    height: auto;
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.tituloCarrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    color: black;
}

.vaciarCarrito, .botonCarritoVacio {
    padding: 8px 18px;
    border-radius: 15px;
}

.vaciarCarrito:hover, .botonCarritoVacio:hover {
    background-color: #3259d3;
}

.productoCarrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
    height: 30vh;
    width: 55%;
}

.imagenCarrito {
    height: 100%;
    width: 25%;
} 

.botonRemover {
    padding: 8px 18px;
    background-color: #3259d3;
    border: none;
    border-radius: 25px;
}

.botonRemover:hover {
    background-color: #ce1818;
}

